marathon:
  url: http://downloads.mesosphere.com/marathon/v0.9.1
  checksum: md5=cecb436968e78fb268e21ea58b0d6b15
  tarball: marathon-0.9.1.tgz
  dirname: marathon-0.9.1
  http.port: 8773
  callback.port: 8080

