datasets:
  url: http://walrus.escloc57.eecloud.nsn-net.net:8773/services/Walrus/datasets
  datasets:
    - filename: followers.txt
      checksum: md5=00a1caaf04770419458a461a02dd48a8
    - filename: svm.txt
      checksum: md5=6a42ad3460566c0ee7a3ce7bfe2fddfb
    - filename: volumes.csv
      checksum: md5=76c4037b828d0c84a862e0fc4ec61652
    - filename: tmousa_table.csv
      checksum: md5=b451f3f03f81e21b97fb006099304875
    - filename: users.txt
      checksum: md5=23fb57a25d5587c5c994d37502d1bec5
