tachyon:
  url: http://host:port/...
  checksum: md5=f1dfeeab1df035b3ec7a917563554658
  tarball: tachyon-0.6.4.tar.gz
  dirname: tachyon-0.6.4
  journal: /tachyon/journal/
  classpath: core/target/tachyon-0.6.4-jar-with-dependencies.jar
  executor.memory: 2GB
  ui.port: 8001
  mount.mode: Mount
  max.columns: 10000
  max.metadata: 173741824
  port: 19998
