tachyon:
  url: http://walrus.escloc58.eecloud.nsn-net.net:8773/services/Walrus/dasp
  checksum: md5=4eaaef711bda99e82841cd33db99045f
  tarball: tachyon-release-0.5.0-dist.tar.gz
  dirname: tachyon-0.5.0
  journal: /tachyon/journal/
  classpath: core/target/tachyon-0.5.0-jar-with-dependencies.jar
  executor.memory: 4GB
  ui.port: 8001
  mount.mode: Mount
  max.columns: 10000
  max.metadata: 173741824
  port: 19998
