haproxy:
  stats.host: '*'
  stats.port: 2413
  stats.username: admin
  stats.password: admin
  cert_server: salt://pkgs/server.pem
  cert_ca: salt://pkgs/ca.crt
  {% if grains['os'].lower() == 'ubuntu' -%}
  {% if grains['oscodename'].lower() == 'trusty' -%}
  repository: deb http://ppa.launchpad.net/vbernat/haproxy-1.5/ubuntu trusty main
  repository_src: deb-src http://ppa.launchpad.net/vbernat/haproxy-1.5/ubuntu trusty main
  version: 1.5.8-1ppa1~trusty
  {% elif grains['oscodename'].lower() == 'precise' -%}
  repository: deb http://ppa.launchpad.net/vbernat/haproxy-1.5/ubuntu precise main
  repository_src: deb-src http://ppa.launchpad.net/vbernat/haproxy-1.5/ubuntu precise main
  version: 1.5.8-1ppa1~precise
  {% endif %}
  {% endif %}

schedule:
  job-haproxy-reload:
    function: state.sls
    seconds: 900
    args:
      - haproxy.reload_cfg
    kwargs:
      concurrent: True

haproxy_apps:
  .*:
    - mode: http
  roles:
    - service_port: 2408
      port: 8001
      query: roles:tachyon.master
      name: tachyon
    - service_port: 2414
      port: 8773
      httpchk: HEAD /
      query: roles:marathon
      name: marathon
