chronos:
  env: {"LD_LIBRARY_PATH": "/lib:/usr/local/lib:/lib:/usr/lib", "JAVA_LIBRARY_PATH":"/usr/local/lib:/lib:/usr/lib" }
  cpus: 0.5
  instances: 1
  mem: 1024
  ports: [8031]
  uris:
    - salt://.../chronos-2.4.0.jar
  upgradeStrategy:
    minimumHealthCapacity: 1
  constraints: [['hostname', 'UNIQUE']]
  healthChecks:
    - protocol: HTTP
      portIndex: 0
      path: /


sample_job:
  command: echo Hello World!
  schedule: "R/2014-10-10T18:32:00Z/PT60M"
  environment:
    - name: JVMOPTS
      value: -Xmx1000m
    - name: JAVA_LIBRARY_PATH
      value: /usr/local/lib
  constraints: [
    ["rack", "EQUALS", "rack-1"],
    ["router", "LIKE", "router-[1-3]"]
  ]
  container:
    type: DOCKER
    image: libmesos/ubuntu
    forcePullImage: true
    network: BRIDGE
    volumes:
      - containerPath: /var/log/
        hostPath": /logs/
        mode: RW
